.hero-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
    max-width: 200px;
    background-color: rgba(32, 58, 76, 1);
    color: #fff;

}