.hero-portfolio {
    padding-top: 47px;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1015px;
    }
    &__item + &__item {
        margin-top: 80px;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;
        padding-left: 30px;
    }
    &__item:nth-child(odd) {
        padding-right: 95px;
    }
    &__inner {
        max-width: 350px;
        height: 100%;
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 28px;
        font-family: 'Ibarra Real Nova';
        font-weight: bold;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }
    &__disc {
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__span {
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        top: -103px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
    }
    &__span--bottom {
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        bottom: -103px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
    }
}